<h1>Sample App</h1>

<p>H1 <%= @user.name %>,</p>

<p>
  You have request for a new password.<br/>
  Please verify the following account information to make sure it is your and click the link to reset your password
</p>

<%= link_to 'Reset Password', edit_password_reset_url(@user.password_reset_token, email: @user.email) %>